body {
background-color: rgb(4, 96, 96);
color: rgb(128, 199, 202);
font-family: cursive;

}
header {
    font-size: 50px;
    border-bottom: dotted 5px rgb(6, 54, 54);
    padding: 50px;
    text-align: center;
    color: white
}

h1 {
    font-size: 30px;
}

p {
    font-size: 20px;
}